:root {
  --lab-link-rest-color: #777;
  --lab-link-active-color: #2266E3;
}

.lab-link {
  text-decoration: none;
  color: var(--lab-link-rest-color);
}

.lab-link--active {
  color: var(--lab-link-active-color);
  font-weight: 600;
}

.lab-link--horizontal-list:hover {
  color: var(--lab-link-active-color);
}

.lab-link--horizontal-list + .lab-link--horizontal-list::before {
  content: '\00a0·\00a0';
}


.lab-link--vertical-list.lab-link--active::before {
  content: '▸';
  line-height: 0;
}

.lab-link--vertical-list:hover::before {
  content: '▸';
  line-height: 0;
}

.lab-h2 {
  margin: 0;
  color: #EEE;
  background-color: #222;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}

.lab-h3 {
  display: inline;
  margin-right: 0.5em;
  font-size: 1rem;
}

/* spacer */
.lab-s100 {
  height: 1rem;
}