/* property naming convention 
 * --<component>-[<subcomponent>]-[<variant>|<mode>]-[fg|bg|border]-[rest|hover|focus|pressed|disabled]
*/

body[data-design-language="fluent-power-platform"] {
    /* Button */
    --btn-font: var(--fw-semibold) var(--scale-14)/var(--scale-20) var(--ff-segoe-ui);
    --btn-height: 2rem;
    --btn-letter-spacing: var(--ls-p-05);
    --btn-padding-side: 1.25rem;
    --btn-primary-bg-rest: var(--color-primary);
    --btn-primary-fg-rest:  var(--color-primary-contrast);
    --btn-primary-bg-hover: white;
    --btn-primary-fg-hover: var(--color-grey-190);
    --btn-secondary-bg-rest: white;
    --btn-secondary-fg-rest: var(--color-grey-190);
    --btn-secondary-bg-hover: var(--color-primary);
    --btn-secondary-fg-hover: var(--color-primary-contrast);
    --btn-border-radius: var(--border-radius);
    --btn-shadow-hover: var(--depth-2);
    --btn-shadow-rest: var(--depth-1);

    /* Text field */
    --tf-border-rest: var(--border-width) solid var(--color-grey-130);
    --tf-border-hover: var(--border-width) solid var(--color-primary);
    --tf-fg: var(--color-grey-190);
    --tf-font: var(--fw-normal) var(--scale-14)/var(--scale-20) var(--ff-segoe-ui);
    --tf-letter-spacing: var(--ls-p-05);

    /* Toggle */
    --tg-track-width: 42px;
    --tg-track-height: 20px;
    --tg-track-gutter: 5px;
    --tg-track-label-gutter: 8px;
    --tg-knob-translate: 22px;
    --tg-knob-diameter: calc(var(--tg-track-height) - 2 * var(--tg-track-gutter));
    --tg-label-font: var(--fw-semibold) var(--scale-14)/var(--scale-20) var(--ff-segoe-ui);
    --tg-label-letter-spacing: var(--ls-p-05);
    --tg-transition-duration: var(--t-200);
    --tg-off-track-border-rest: var(--color-grey-160);
    --tg-off-track-border-hover: var(--color-primary);
    --tg-off-track-bg-rest: white;
    --tg-off-knob-bg: var(--color-grey-160);
    --tg-on-track-border-rest: transparent;
    --tg-on-track-border-hover: transparent;
    --tg-on-track-bg-rest: var(--color-primary);
    --tg-on-knob-bg: white;

    /*
     * DANGER ZONE
     * 
     * Below are raw styles.
     * Always use the styles above first.
     * Use the styles below only as an escape hatch.
     * If none of the styles above meets your goal,
     * ask yourself if you are breaking the design system.
    */

    /* Color */
    --color-grey-10: #F8F8F9;
    --color-grey-20: #F1F2F4;
    --color-grey-30: #E8EAEC;
    --color-grey-40: #D8DADE;
    --color-grey-50: #CED0D4;
    --color-grey-60: #C6C8CC;
    --color-grey-90: #A4A6AC;
    --color-grey-130: #6E6F77;
    --color-grey-150: #3A3C42;
    --color-grey-160: #31333A;
    --color-grey-190: #1F2126;

    /* Depth */
    --depth-1: 0px 0px 1.8px rgba(0, 0, 0, 0.12), 0px 3.2px 3.6px rgba(0, 0, 0, 0.1);
    --depth-2: 0px 1.2px 3.6px rgba(0, 0, 0, 0.12), 0px 6.4px 7.2px rgba(0, 0, 0, 0.1);
    --depth-3: 0px 2.4px 7.2px rgba(0, 0, 0, 0.08), 0px 12.8px 28.8px rgba(0, 0, 0, 0.12);
    --depth-4: 0px 4.8px 14.4px rgba(0, 0, 0, 0.08), 0px 25.6px 57.6px rgba(0, 0, 0, 0.12);

    /* Font weights */
    --fw-normal: 400;
    --fw-semibold: 600;

    /* Font families */
    --ff-segoe-ui: "Segoe UI";

    /* Geometry */
    --border-radius: 2px;
    --border-width: 1px;

    /* Letter spacing */
    --ls-p-002: 0.02em;
    --ls-p-0005: 0.005em;
    --ls-m-0006: -0.006em;

    /* Scale */
    --scale-12: .75rem;
    --scale-14: .875rem;
    --scale-16: 1rem;
    --scale-20: 1.25rem;
    --scale-24: 1.5rem;
    --scale-28: 1.75rem;
    --scale-34: 2.125rem;
    --scale-40: 2.5rem;
    --scale-48: 3rem;
    --scale-60: 3.75rem;

    /* Timing */
    --t-200: 200ms;
}


body[data-design-language="fluent-power-platform"][data-theme="powerbi"] {
    --color-primary: #F2C811;
    --color-primary-contrast: black;
}

body[data-design-language="fluent-power-platform"][data-theme="flow"] {
    --color-primary: #2266E3;
    --color-primary-contrast: white;
}

body[data-design-language="fluent-power-platform"][data-theme="powerapps"] {
    --color-primary: #742774;
    --color-primary-contrast: white;
}