.tg {
  width: var(--tg-track-width);
  height: var(--tg-track-height);
  margin: 0;
  vertical-align: bottom;
}

.tg::-ms-check {
  opacity: 0; /* Edge checkbox would leak outside the track by 0.1px */
}

.tg-label {
  margin-left: calc(var(--tg-track-width) * -1);
  padding-left: calc(var(--tg-track-width) + var(--tg-track-label-gutter));
  height: var(--tg-track-height);
  font: var(--tg-label-font);
  letter-spacing: var(--tg-label-letter-spacing);
  position: relative;
  display: inline-block;
}

.tg-label::before { /* track */
  background-color: var(--tg-off-track-bg-rest);
  content: '';
  position: absolute;
  width: var(--tg-track-width);
  left: 0;
  height: 100%;
  border: 1px solid var(--tg-off-track-border-rest);
  border-radius: calc(var(--tg-track-height) / 2);
  box-sizing: border-box;
  transition: all var(--tg-transition-duration);
}

.tg-label:hover::before { /* track */
  border: 1px solid var(--tg-off-track-border-hover);
}

.tg-label::after { /* knob */
  background-color: var(--tg-off-knob-bg);
  content: '';
  position: absolute;
  width: var(--tg-knob-diameter);
  height: var(--tg-knob-diameter);
  left: var(--tg-track-gutter);
  top: var(--tg-track-gutter);
  border-radius: 50%;
  transition: all var(--tg-transition-duration);
}

.tg:checked+.tg-label::before { /* track */
  background-color: var(--tg-on-track-bg-rest);
  border-color: var(--tg-on-track-border-rest);
}

.tg:checked+.tg-label::after { /* knob */
  transform: translateX(var(--tg-knob-translate));
  background-color: var(--tg-on-knob-bg);
}