.dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-actions {
  margin-top: 24px;
}

.dialog-box {
  padding: 20px;
  background: white;
  border: 1px solid grey;
  min-width: 420px;
}