.dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog__footer {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.dialog__box {
  padding: 20px;
  background: white;
  border: 1px solid grey;
  min-width: 420px;
  border-radius: 2px;
}

.dialog__header {
  font: var(--fw-semibold) var(--scale-20)/var(--scale-24) var(--ff-segoe-ui);
}

.dialog__main {
  margin-top: 24px;
}